<div class= "container">

<%= link_to 'Y\'a moy de poser une nouvelle question ?' , ask_path, class: 'toto' %>


<div class= "title">

<h2>Stupid Coaching</h2>
</div>

<div class= "rep">

<%= @answer  %>
</div>
</div>
