<div class= "askcontainer">
<h2>Stupid Coaching</h2>

<div class= "formu">
<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
</div>
</div>
